body {
  font-size: 17px;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.button-cancel {
  color: #ffffff;
  border: 1px solid #0e464f;
  background-color: #041e23;
  margin-right: 20px;
}

.button-next {
  color: #ffffff;
  border: 1px solid #0e464f;
  background-color: #24a0b5;
}

.road-rage-regular {
  font-size: 50px;
  font-family: "Road Rage", serif;
  font-weight: 400;
  font-style: normal;
}

/* .roboto-regular {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

.hidden {
  display: none;
}

.input:focus {
  color: #ffffff;
  background-color: inherit;
  outline: 2px solid #0e464f;
}
